<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel = "stylesheet" href = "../../assets/stylesheets/public.scss" />
</head>
<body>
<div class = "container">
    <h2>This is the landing page</h2>
    <br />
    <h3>Welcome to our app.</h3>
    <br />
    <span id = "login_or_register">

    <span>

    <footer>
    Built by BR GANG + <a href = "https://github.com/dukeraphaelng">Duke</a>
    </footer>
</div>
</body>
</html>