<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel = "stylesheet" href = "../../assets/stylesheets/public.scss" />
</head>
<body>
<div class = "container">
    <h1>Motivator App</h1>
    <br />
    <div>
      <% if current_account %>
        <%= link_to  "View your account", tasks_path %>
        <button><%= link_to  "Sign out", destroy_account_session_path, method: :delete %></button>
      <% else %>
      <span id = "login_or_register">
        <button><%= link_to  "Sign up", new_account_registration_path %></button>
        <button><%= link_to  "Sign in", new_account_session_path %></button>
      </span>
    </div>
    <% end %>
</div class="main">
    <footer>
    Built by <a href = "https://github.com/MorganBat" target = "_blank">Morgan</a>, <a href = "https://github.com/r0ss26" target = "_blank">Ross</a>, <a href = "https://github.com/MartinVald2170" target = "_blank">Martin</a>, <a href = "https://github.com/andrewtrandev" target = "_blank">Andrew</a>, <a href = "https://github.com/vincentlieu" target = "_blank">Vincent</a>, and <a href = "https://github.com/dukeraphaelng" target = "_blank">Duke</a>
    </footer>
  </body>
  <% yield %>
</html>