<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel = "stylesheet" href = "../../assets/stylesheets/public.scss" />
</head>
<body>
<div class = "container">
    <h2>This is the landing page</h2>
    <h3>Welcome to our app</h3>
    <br />
    <span id = "login_or_register">
       <a href = "tasks/register">
        <div id = "register">
            Existing User?<br />
            Register here</a>
        </div>
        
        <div id = "blank"> 
        </div>

        <a href = "tasks/login">
        <div id = "login">
            New User?
            <br />
            Login here</a>
        </div>
    <span>
</div>
    <footer>
    Built by <a href = "https://github.com/MorganBat" target = "_blank">Morgan</a>, <a href = "https://github.com/r0ss26" target = "_blank">Ross</a>, <a href = "https://github.com/MartinVald2170" target = "_blank">Martin</a>, <a href = "https://github.com/andrewtrandev" target = "_blank">Andrew</a>, <a href = "https://github.com/vincentlieu" target = "_blank">Vincent</a>, and <a href = "https://github.com/dukeraphaelng" target = "_blank">Duke</a>
    </footer>
</body>
</html>