// Place all the styles related to the Public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95%;
    width: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 30px;
}

#login_or_register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#login {
  padding-left: 25px;
  color: grey;
}

#register {
  padding-right: 25px;
  color: grey;
}

footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  bottom: 0;
  text-align: left;
  width: 100%;
  margin-bottom: 2px;

  a {
    padding-left: 3px;
  }
}