/*GLOBALS -------------------------------------------------*/

/*apply font and white color to all */


*{
  font-family: 'Roboto', sans-serif;
  font-weight:500;
}

h1 {
  font-family: "Lucida Console", Monaco, monospace;
  text-transform: uppercase;
}

body {
  background-color: #262439;
  color: #FBFFFE;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  width: 100%;
  height: 100%;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  // color: #FFFFFF;
  color:#BAB386;
}

 a:hover{
  color:rgb(255, 251, 0);
 }

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}
input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }

.login-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.login-container a {
  text-decoration: none;
  background-color: #0077ff;
  text-align: center;
  border-radius: 4px;
  padding: 11.5px 20px;
  width: 100%;
  color: #FFFFFF;
}

h2 {
  text-align: center;
}

#notice {
  color: green;
}

#error_explanation {
  width: 100%;
  border-radius: 5px;
  padding: 7px;
  margin-bottom: 20px;
  background-color: #cc0000;

  h2 {
    text-align: left;
    font-weight: bold;
    font-size: 1em;
    border-radius: 5px;
    background-color: #c00;
    color: #fff;
  }

  ul {
    padding-left: 20px;
  }

  ul li {
    font-size: 1em;
    list-style: square;
  }
}

.field_with_errors input {
  border: 2px solid #ff2d2d;
  background-color: #ffb4b4;
}

label {
  display: block;
}
