// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* LINKS ---------------------------------------*/


a[href="/tasks/new"] {
    background-color: #FBFFFE;
    border: 1px solid #FBFFFE;
    border-radius: 100px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: #333333;
}

a[href="/tasks/new"]:hover {
    background-color: black;
    border: 1px solid black;
    text-decoration: none;
    color: #FBFFFE;
}

/* BUTTONS ------------------------------------*/

/*apply styling to "Create Task" submit button*/
input[type="submit"] {
    color:black;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

/* TABLES  --------------------------------*/

table {
    border: 1px solid #FFFFFF;
  }
  
th {
font-weight:bold;
border-bottom: 2px solid #FFFFFF;
}

/* add lines to table */
table, th, td{
    border:1px solid white;
    border-collapse: collapse;

}



/* INPUT FIELDS  -------------------------------- */

/* apply border radius to input fields */
input {
border-radius:2px;
}

/* NEW TASK FORM -------------------------------- */

.form-container {
  display: flex;
  justify-content: center;
}

form {
  border-radius: 5px;
  background-color: #151324;
  padding: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.form-container .field {
  width: 50%;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


.form-container label {
  font-size: 1rem;
}