// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* LINKS ---------------------------------------*/


a[href="/tasks/new"] {
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
    border-radius: 100px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: #FBFFFE;
}

a[href="/tasks/new"]:hover {
    background-color: #45AA49;
    text-decoration: none;
    color: #FBFFFE;
}

/* BUTTONS ------------------------------------*/

/*apply styling to "Create Task" submit button*/
input[type="submit"] {
    color:black;
}

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

/* TABLES  --------------------------------*/

table {
    border: 1px solid #FFFFFF;
  }
  
th {
font-weight:bold;
border-bottom: 2px solid #FFFFFF;
}

/* add lines to table */
table, th, td{
    border:1px solid #FFFFFF;
    border-collapse: collapse;
}

/*alternating colours for table rows*/
tr:nth-child(odd){
  background-color:#536470;
}

/*change colour of table header to original purple*/
thead tr th{
  background-color:#262439;
}


/* INPUT FIELDS  -------------------------------- */

/* apply border radius to input fields */
input {
border-radius:2px;
}

/* FORM ----------------------------------------- */

.form-heading {
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: center;
}

#task_description {
  height: 100px;
  width: 100%;
  resize: none;
  padding: 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form {
  border-radius: 5px;
  background-color: #151324;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45aA49;
}

.cancel {
display: flex;
justify-content: center;
}

.cancel a {
  text-decoration: none;
  background-color: #ff0000;
  text-align: center;
  border-radius: 4px;
  padding: 11.5px 20px;
  width: 100%;
  color: #FFFFFF;
}

.cancel a:hover {
  background-color: #c90000;
}

.form-container label {
  font-size: 1rem;
}

/* TASKS SHOW - WHAT"S SHOWN AFTER CREATION************************ */

.taskshowcontainer{
  display:flex;
  flex-flow:column;
  align-items:center;
}

.taskshow {
  display:flex;
  flex-flow:column;
  width: 40%;
  background-color: #151324;
  padding: 20px;
  border-radius: 5px;
}

.taskshow p, .taskshow a{
padding-left:20px;

}


/* Edit button after creation */

/* Back button after creation*/

.edit, .back {
  display: flex;
  text-align: center;
  margin-top: 20px;
}

.edit a {
  background-color: #4CAF50;
  text-align: center;
  border-radius: 4px;
  padding: 11.5px 20px;
  width: 100%;
  color: #FFFFFF;
  text-decoration: none;
}

.edit a:hover {
  background-color: #45aA49;
}

.back a {
  text-decoration: none;
  background-color: #ff0000;
  text-align: center;
  border-radius: 4px;
  padding: 11.5px 20px;
  width: 100%;
  color: #FFFFFF;
}

.back a:hover {
  background-color: #c90000;
}

